<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/frontend/styles/tailwind.css">
		<link rel="icon" type="image/png" href="/frontend/assets/images/favicon-landmass.png">
	</head>
	<body id="page" class="{{page_classes}} {{bg}}-background">
		<div id="top">
			<span id="hamburger-btn" class="hamburger-icon"></span>
			<div class="trademark">
				<span class="landmass"></span>
				<span class="landmass-subtext"></span>
			</div>
			{{#if user}}
				<div class="user-profile" id="user-id-{{user.id}}"></div>
			{{else}}
				<div class="user-profile"></div>
			{{/if}}
		</div>
		<div class="content-area">
			<div id="in-side-nav" class="side-nav">
				{{#if user}}
					<button type="button" id="redir-dashboard" class="side-nav-button"></button>
					<button type="button" id="redir-reserve-seats" class="side-nav-button"></button>
					<button type="button" id="redir-see-reservations" class="side-nav-button"></button>
					<button type="button" id="redir-account-settings" class="side-nav-button"></button>
				{{/if}}
				<button type="button" id="redir-contact-us" class="side-nav-button"></button>
				{{#if user}}
					<button type="button" id="redir-log-out" class="side-nav-button"></button>
				{{/if}}
			</div>
			{{{body}}}
		</div>
		<script type="application/javascript" src="/backend/sidebar.js"></script>
		{{#each scripts}}
			<script type="application/javascript" src="/backend/{{this}}"></script>
		{{/each}}
	</body>
</html>
