<div id="reserve-seat-content">
	<div id="go-back-container">
		<span class="go-back-text">Go Back</span>
	</div>
	<div id="available-text-container">
		<p id="reserve-bldg-text">{{bldg}}</p>
		<p class="available-text">Available Rooms</p>
	</div>
	<div id="content-area-rooms">
		<div id="date-time-selection">
			<input type="text" placeholder="Pick Date" onclick="
              {
                this.type = 'date';
              }
              try {
                this.showPicker();
              } catch (e) {}
            " onblur="
              if (this.value == '') {
                this.type = 'text';
              }
            " id="reserved-date" name="reserved-date" />
			<!-- 0730H to 1700H (2hrs reservation) -->
			<select id="reserved-time" name="reserved-time">
				<option selected hidden disabled>Pick Start Time</option>
				{{#each time}}
				<option value="{{this}}">{{this}}H</option>
				{{/each}}
				{{!--
				<option value="0730">0730H</option>
				<option value="0800">0800H</option>
				<option value="0830">0830H</option>
				<option value="0900">0900H</option>
				<option value="0930">0930H</option>
				<option value="1000">1000H</option>
				<option value="1030">1030H</option>
				<option value="1100">1100H</option>
				<option value="1130">1130H</option>
				<option value="1200">1200H</option>
				<option value="1230">1230H</option>
				<option value="1300">1300H</option>
				<option value="1330">1330H</option>
				<option value="1400">1400H</option>
				<option value="1430">1430H</option>
				<option value="1500">1500H</option>
				<option value="1530">1530H</option>
				<option value="1600">1600H</option>
				<option value="1630">1630H</option>
				<option value="1700">1700H</option>
				--}}
			</select>
			<select id="reserved-room" name="reserved-room">
				<option selected hidden disabled>Pick Room</option>
				{{#each rooms}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
				{{!-- <option>G203</option>
				<option>G204</option>
				<option>G205</option>
				<option>G206</option>
				<option>G207</option> --}}
			</select>
			<label id="anon-checkbox-label" class="">
				<input type="checkbox" id="anon-checkbox">
				<span>Reserve as Anonymous</span>
			</label>
		</div>
		<!-- <div id="available-rooms-container">
                    <div class="room-container" id="g203">
                        <div>G203</div>
                        <span>34/35</span>
                    </div>
                    <div class="room-container" id="g204">
                        <div>G204</div>
                        <span>20/35</span>
                    </div>
                    <div class="room-container" id="g205">
                        <div>G205</div>
                        <span>18/35</span>
                    </div>
                    <div class="room-container" id="g206">
                        <div>G206</div>
                        <span>25/35</span>
                    </div>
                    <div class="room-container" id="g207">
                        <div>G207</div>
                        <span>10/35</span>
                    </div>
                </div> -->
		<div id="seat-selection">
			<div class="seat-legend">
				<div class="seat"></div>
				<span>Available</span>
				<div class="seat taken"></div>
				<span>Taken</span>
				<div class="seat selected"></div>
				<span>Selected</span>
			</div>
			<div id="slots-container">
				<div class="whiteboard">Whiteboard</div>
				<div class="row" id="row-1">
					<div class="seat disabled" data-pc="1"></div>
					<div class="seat disabled" data-pc="2"></div>
					<div class="seat disabled" data-pc="3"></div>
					<div class="space"></div>
					<div class="seat disabled" data-pc="4"></div>
					<div class="seat disabled" data-pc="5"></div>
					<div class="seat disabled" data-pc="6"></div>
				</div>

				<div class="row" id="row-2">
					<div class="seat disabled" data-pc="7"></div>
					<div class="seat disabled" data-pc="8"></div>
					<div class="seat disabled" data-pc="9"></div>
					<div class="space"></div>
					<div class="seat disabled" data-pc="10"></div>
					<div class="seat disabled" data-pc="11"></div>
					<div class="seat disabled" data-pc="12"></div>
				</div>

				<div class="row" id="row-3">
					<div class="seat disabled" data-pc="13"></div>
					<div class="seat disabled" data-pc="14"></div>
					<div class="seat disabled" data-pc="15"></div>
					<div class="space"></div>
					<div class="seat disabled" data-pc="16"></div>
					<div class="seat disabled" data-pc="17"></div>
					<div class="seat disabled" data-pc="18"></div>
				</div>

				<div class="row" id="row-4">
					<div class="seat disabled" data-pc="19"></div>
					<div class="seat disabled" data-pc="20"></div>
					<div class="seat disabled" data-pc="21"></div>
					<div class="space"></div>
					<div class="seat disabled" data-pc="22"></div>
					<div class="seat disabled" data-pc="23"></div>
					<div class="seat disabled" data-pc="24"></div>
				</div>

				<div class="row" id="row-5">
					<div class="seat disabled" data-pc="25"></div>
					<div class="seat disabled" data-pc="26"></div>
					<div class="seat disabled" data-pc="27"></div>
					<div class="space"></div>
					<div class="seat disabled" data-pc="28"></div>
					<div class="seat disabled" data-pc="29"></div>
					<div class="cis"></div>
				</div>
				<div id="submit-container">
					<button onclick="openModal()" class="submit-btn">Submit</button>
				</div>
			</div>
		</div>
	</div>
	<div id="confirm-modal-container" class="hidden">
		<div id="confirm-modal-area">
			<h2>Confimation</h2>
			<p id="modal-details">
				Date: <br>
				Time: <br>
				Building: <br>
				Room: <br>
				Seat List: <br>
				<div id="admin-only-requestor" class="hidden">
					<input type="text" id="admin-walk-in-input" placeholder="Requestor Username">
				</div>
			</p>
			<div class="dialog-buttons">
				<button class="confirm-btn" onclick="returnDashboard()">Confirm</button>
				<button onclick="closeModal()" class="cancel-btn">Cancel</button>
			</div>
		</div>
	</div>
</div>